$def with (file, requestid, projectid)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CrowdChoir - Contribute</title>

    <!-- Bootstrap -->
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/contribute.css" rel="stylesheet">
    <!-- Libraries --> 
	<script>
		var requestid = "$requestid";
		var filename = "$file";
		var projectid = "$projectid";
	</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/static/js/jquery.cookie.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/recorder.js"></script>
	<script src="/static/js/recorderWorker.js"></script>
	<script src="/static/js/bufferloader.js"></script>
	<script src="/static/js/contribute.js"></script>

  </head>

  <body>
	<div class="container">
		</br>
 		
		<div class="jumbotron">
			
			<div class="instr">
			<p>
			0. Get some headphones and find a quiet place in which to do this task. Hit allow to allow this page to get access to your microphone.
			</p>
			</div>
			
			<div class="instr">
			<p>
			1. Listen to the recording once.
			</p>

			<div class="btn-group btn-group-lg" id="playbtn">
	  			<button type="button"
	  				class="btn btn-success addstyle"
					id="playstop"
					onclick="music.toggle(0, false);">
						<span class="glyphicon glyphicon-play"></span> Listen
				</button>
			</div>
	 		</div>


		<div class="instr">
			<p>
			2. Now, hit record and imitate the audio file.
			</p>
	 		
	 		<div class="btn-group btn-group-lg" id="recordbtn">
	  			<button type="button"
	  				class="btn btn-danger addstyle"
					id="record"
					onclick="music.record();">
						<span class="glyphicon glyphicon-record"></span> Record
				</button>
			</div>
		</div>

		<div class="instr">
			<p>
			3. Listen to your output. If everything seems okay, submit it!
			</p>

	 		<div class="btn-group btn-group-lg" id="previewbtn">
	  			<button type="button"
	  				class="btn btn-info addstyle"
					id="preview"
					onclick="music.toggle(1, false);">
						<span class="glyphicon glyphicon-play"></span> Preview
				</button>
			</div>

		</div>


		<div class="instr">
			<p>
			4. Submit!
			</p>
		
	 		<div class="btn-group btn-group-lg" id="submitbtn">
	  			<button type="button"
	  				class="btn btn-primary addstyle"
					id="submit"
					onclick="submit();">
						<span class="glyphicon glyphicon-ok"></span> Submit
				</button>
			</div>
		</div>

		</div>
	</div>
  </body>
	
	<div class="modal fade turk-code" id="info" tabindex="-1" role="dialog" aria-labelledby="modallabel" aria-hidden="true" data-keyboard='false' data-backdrop='static'>
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
      	<div class="modal-header">
			<h4 id="modellabel" class="modal-title">Survey code</h4>
      	</div>
		<div class="modal-body">
		<p>If you're performing through Amazon Mechanical Turk, copy the following code into the input box.</p>
		<p id="turk">

		</p>
		</div>
	</div>
    </div>
    </div>

</html>
