$def with (projectid, req, cont)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CrowdChoir - View project</title>

    <!-- Bootstrap -->
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/request.css" rel="stylesheet">

  </head>

  <body>
	<div class="container">

		<div class="container jumbotron main">
			<div class="container text">
				<h2 id="projectheader">Project: $projectid</h2>
				<p>Contribute by hitting contribute next to each request below! Try to contribute
				to things that don't have many contributions yet.</p>
				<h2 id="projectsubtitle">Requests and Contributions</h2>
				<ol>
				$for r in req:
					<li><a href=$r.filename>$r.origname</a> - <a href="/contribute/$r.requestid">Contribute</a></li>
					<ol>
					$for c in cont:
						$if c.requestid == r.requestid:
							<li><a href=$c.filename>$c.filename</a></li>
					</ol>
				</ol>
			</div>
			
		
		</div>
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/static/js/jquery.cookie.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<!-- <script src="static/js/recorder.js"></script>
	<script src="static/js/recorderWorker.js"></script>
	<script src="static/js/shout.js"></script> -->
  </body>

</html>
