<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CrowdChoir! - Request</title>

    <!-- Bootstrap -->
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/dropzone.css" rel="stylesheet">
    <link href="static/css/request.css" rel="stylesheet">

  </head>

  <body>
	<div class="container">

		<div class="container jumbotron main">
	 		<div class="btn-group btn-group-lg" id="submitbtn">
	  			<button type="button"
	  				class="btn btn-primary addstyle"
					id="newproject"
					onclick="newproject();">
						<span class="glyphicon glyphicon-plus"></span> New project
				</button>
			</div>
			<div class="container text">
				<h2>What audio files would you like people to imitate?</h2>
			</div>
			<form id="audio" action="/createRequest" class="dropzone"></form>
			
		
	 		<div class="btn-group btn-group-lg" id="submitbtn">
	  			<button type="button"
	  				class="btn btn-primary addstyle"
					id="submit"
					onclick="submit();">
						<span class="glyphicon glyphicon-ok"></span> Done
				</button>
			</div>
		</div>
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/static/js/jquery.cookie.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/dropzone.js"></script>
	<script src="static/js/request.js"></script>
	<!-- <script src="static/js/recorder.js"></script>
	<script src="static/js/recorderWorker.js"></script>
	<script src="static/js/shout.js"></script> -->
  </body>

</html>
