<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shout! - Request</title>

    <!-- Bootstrap -->
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/request.css" rel="stylesheet">

  </head>

  <body>
	<div class="container">

		<div class="container jumbotron main">
			<div class="container text">
				<h2>What would you like to have pronounced for you?</h2>
			</div>
			<div class="input-group input-group-lg inputfield">
				<input id="inputBox" value="" placeholder="Enter text here" type="text" class="form-control">
				<span class="input-group-btn">
					<button id="submitButton" class="btn btn-success" type="button"> Submit! </button>
				</span>
			</div>
		</div>
 	<!-- <div class="row">
		<button type="button"
				class="btn btn-primary btn-lg" 
				id="record"
				data-toggle="tooltip"
				data-placement="bottom"
				title="Record some audio."
				data-container="body"
				onclick="record();">
					<span class="glyphicon glyphicon-record"></span>
		</button>
	</div> -->
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/request.js"></script>
	<!-- <script src="static/js/recorder.js"></script>
	<script src="static/js/recorderWorker.js"></script>
	<script src="static/js/shout.js"></script> -->
  </body>

</html>
